.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Encode Sans", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.logo {
  padding: 20px;
  z-index: 1000;
  position: fixed;
}
.logo img {
  width: 80px;
  height: 80px;
}

.burger-btn {
  position: fixed;
  top: 30px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid black;
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::before,
.burger-btn:hover .burger-btn__bars::after {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  content: "";
  background-color: black;
  height: 3px;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  width: 60%;
  top: 13px;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: #f8f0e5;
  z-index: 100;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  box-shadow: inset -1px 1px 20px 0px #3f2305;
}
.nav--active {
  transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 1.2em;
  color: black;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: bold;
}
.nav__item::before, .nav__item::after {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  transition: 0.3s;
}
.nav__item::before {
  top: 0;
  left: 3px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  opacity: 0;
}
.nav__item::after {
  bottom: 0;
  right: 0;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  opacity: 0;
}
.nav__item:hover::before, .nav__item:hover::after {
  opacity: 1;
  width: 60px;
  height: 35px;
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
.nav-items-animation {
  animation: navItemsAnimation 1s;
}

.white-bars-color,
.white-bars-color::after,
.white-bars-color::before {
  background-color: #f8f0e5;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 75vh;
  background-image: linear-gradient(90deg, rgb(15, 14, 10) 0%, rgba(255, 255, 255, 0.13) 45%, rgb(7, 7, 6) 100%), url("../img/headersmall1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
.header p {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #f8f0e5;
  padding: 1em 1.5em;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 5px white;
}

.about-us {
  background-color: #f5efe9;
  padding: 6em 2em;
}
.about-us__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.about-us__title {
  margin-bottom: 1em;
  text-transform: uppercase;
}
.about-us__text {
  padding: 1em;
}
.about-us__img {
  padding: 2em 1em;
  border-radius: 10%;
}
.about-us__img img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  box-shadow: -1px 1px 20px 0px #3f2305;
}
.about-us__img img:hover {
  transform: scale(0.95);
}

.coffe-img {
  background-image: url(../img/coffeesmall.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 400px;
}

.offers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.offers__section-title {
  font-size: 2em;
  margin: 2em 0 1em 0;
  text-transform: uppercase;
}
.offers__wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}
.offers__box {
  position: relative;
  background: #f5efe9;
  margin: 4em 0;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  max-width: 508px;
  justify-content: center;
  transition: transform 0.3s;
  box-shadow: -1px 1px 20px 0px #3f2305;
}
.offers__box:hover {
  transform: scale(0.95);
  box-shadow: inset -1px 1px 20px 0px #3f2305;
}
.offers__box--img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -50%);
}
.offers__box--img img {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: -1px 1px 20px 0px #3f2305;
}
.offers__box__title {
  padding: 1em 0;
  font-size: 1.3em;
  text-transform: uppercase;
}

.gallery {
  list-style-type: none;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}
.gallery__section {
  background-color: #f8f0e5;
  padding: 6em 2em;
}
.gallery__thumbnail {
  width: 100%;
  height: auto;
  max-height: 35vh;
  margin: 2px;
  transition: 0.3s ease;
}
.gallery__thumbnail:hover {
  cursor: pointer;
  box-shadow: -1px 1px 20px 0px #3f2305;
  transform: scale(0.92);
}
.gallery__thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__popup {
  align-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  justify-content: center;
  position: fixed;
  z-index: 10;
  animation: fadeIn 0.6s;
}
.gallery__popup__img {
  max-height: 80%;
  max-width: 80%;
}
.gallery__popup__close {
  position: fixed;
  font-size: 2.5em;
  left: 40px;
  top: 40px;
  border: none;
  cursor: pointer;
  color: #f8f0e5;
  background-color: transparent;
  transition: 0.3s;
}
.gallery__popup__close:hover {
  box-shadow: inset -1px 1px 20px 0px #3f2305;
  cursor: pointer;
}
.gallery__popup__arrow {
  font-size: 2em;
  position: absolute;
  border: none;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 2em;
  top: 50%;
  opacity: 0.8;
  transition: 0.5s ease;
  background-color: #f8f0e5;
}
.gallery__popup__arrow:hover {
  box-shadow: inset -1px 1px 20px 0px #3f2305;
  cursor: pointer;
}
.gallery__popup__arrow--right {
  right: 5%;
}
.gallery__popup__arrow--left {
  left: 5%;
}

.gallery__popup.hidden {
  display: none;
}

.gallery__popup.fade-out {
  animation: fadeOut 0.6s both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.contact {
  padding-bottom: 4em;
  padding-top: 4em;
  background-color: #fff;
}
.contact__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 1em 2em;
  margin-bottom: 4em;
}
.contact__box--bgc {
  width: 70%;
  height: 85%;
  position: absolute;
  background-color: #f8f0e5;
}
.contact__box::before, .contact__box::after {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  transition: 0.3s;
}
.contact__box::before {
  top: 0;
  left: 10%;
  border-top: 3px solid black;
  border-left: 3px solid black;
  width: 60%;
  height: 35%;
}
.contact__box::after {
  bottom: 0;
  right: 10%;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  width: 60%;
  height: 35%;
}
.contact__box__title {
  padding: 1em 0;
  font-size: 1.2em;
  z-index: 1;
  text-transform: uppercase;
}
.contact__box__text {
  margin-bottom: 1em;
  font-size: 1em;
  z-index: 1;
  transition: color 1s ease, font-weight 1s ease;
}
.contact__box__text:hover {
  color: #3f2305;
  font-weight: bold;
  cursor: pointer;
}
.contact__icons {
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
}
.contact__icons a {
  margin: 1em;
  color: black;
  transition: transform 0.3s;
  position: relative;
}
.contact__icons a:hover {
  cursor: pointer;
  transform: scale(1.15);
  font-weight: bold;
}
.contact__icons a::before, .contact__icons a::after {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  transition: 0.3s;
}
.contact__icons a::before {
  top: -10px;
  left: -10px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  opacity: 0;
}
.contact__icons a::after {
  bottom: -10px;
  right: -10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  opacity: 0;
}
.contact__icons a:hover::before, .contact__icons a:hover::after {
  opacity: 1;
  width: 60px;
  height: 35px;
}
.contact__map {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  padding-right: 10px;
  height: 0;
  overflow: hidden;
  box-shadow: -1px 1px 20px 0px #3f2305;
  transition: box-shadow 0.5s ease;
}
.contact__map:hover {
  box-shadow: -1px 1px 20px 0px #aa8b6a;
}
.contact__map__map-title {
  text-align: center;
  padding: 2em 1em;
}
.contact__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #3f2305;
  background-color: #f8f0e5;
  padding: 1em;
}

@media (min-width: 574px) {
  .about-us__box {
    width: 70%;
  }
  .about-us__img {
    width: 70%;
    height: auto;
  }
  .offers__box {
    max-width: 508px;
  }
  .gallery {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media (min-width: 768px) {
  .header {
    background-image: linear-gradient(90deg, rgb(15, 14, 10) 0%, rgba(255, 255, 255, 0.13) 45%, rgb(7, 7, 6) 100%), url("../img/header1.jpg");
  }
  .header p {
    font-size: 1.4em;
  }
  .contact__wrapper {
    display: flex;
    flex-direction: row;
  }
  .contact__box {
    width: 50%;
    margin-bottom: 0;
    margin: 0 2em;
  }
  .contact__box--bgc {
    width: 70%;
    height: 65%;
  }
  .contact__box::before {
    top: 15%;
    left: 10%;
  }
  .contact__box::after {
    bottom: 15%;
    right: 10%;
  }
  .contact__map {
    width: 50%;
    height: 80%;
    margin: 0 2em;
  }
  .offers__section-title {
    margin: 3em 0 0 0;
  }
  .offers__wrapper {
    flex-direction: row;
  }
  .offers__box {
    margin: 6em 1em;
    max-width: 33%;
  }
  .offers__box img {
    width: 160px;
    height: 160px;
  }
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
@media (min-width: 992px) {
  .header {
    background-image: linear-gradient(90deg, rgb(15, 14, 10) 0%, rgba(255, 255, 255, 0.13) 45%, rgb(7, 7, 6) 100%), url("../img/header1.jpg");
    max-height: 700px;
  }
  .header p {
    font-size: 1.6em;
  }
  .about-us__title {
    font-size: 1.8em;
  }
  .about-us__text {
    font-size: 1em;
  }
  .about-us__wrapper {
    flex-direction: row;
  }
  .about-us__box {
    width: 40%;
  }
  .about-us__img {
    width: 50%;
    height: auto;
  }
  .coffe-img {
    background-image: url(../img/coffee.jpg);
    background-attachment: fixed;
    height: 600px;
  }
  .contact__map {
    padding-bottom: 46.25%;
  }
  .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
}/*# sourceMappingURL=style.css.map */